manifest {
    name            = 'CNVkit nextflow wrapper'
    author          = 'Dmitrij Manakov'
    homePage        = ''
    description     = ''
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.10.0'
    version         = '1.0.0'
}

executor {
    name = 'local'
    cpus = 32
    memory = '128.GB'
}

params {
    build_controls = true
    ctrls_csv_file = "controls_V6.csv"
    coverage_bed = "/mnt/data/NGS/refs/CNVkit/V6_UTR/S07604624_Covered_noHeader.bed"
    genome_fasta = "/mnt/data/NGS/refs/broad/Homo_sapiens_assembly38.fasta"
    
    call_cnvs = true
    samples_csv_file = "samples.csv"
    targets_file     = "reference/targets.bed"
    antitargets_file = "reference/antitargets.bed"
    reference_m_file = "reference/reference_male.cnn"
    reference_f_file = "reference/reference_female.cnn"
}

process {
    beforeScript = 'umask 002'
    container = 'etal/cnvkit:0.9.11'

    withName: 'TARGETS' {
        cpus = 8
        memory = '64.GB'
    }
    withName: 'COVERAGE|REFERENCE' {
        cpus = 16
        memory = '128.GB'
    }
    withName: 'CNV_CALLS' {
        cpus = 16
        memory = '128.GB'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    fixOwnership = true
}